<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Uninfo- Admin Panel</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Dashboard.css') }}">
	</head>
	<body>
		<div class="topdiv">
			<h1>welcome to the Admin panel, {{name}}</h1>
			<a href="/"> Feeds Page</a>
			<a href="{{ url_for('logout') }}">Logout</a>
		</div>

		<div class="cont">
			<div class="left">
				<h2>Create News Article</h2>
				<p> To post News, fill out the necessary fields below</p>
				<form action="{{ url_for('dashboard') }}" method="POST" enctype="multipart/form-data">
					<input name="title" type="text" placeholder="Title/Headline" required><br>
					<textarea name="content" placeholder="Share your information" required></textarea><br>
					<!--		<input name="image" type="file" placeholder="Upload image/file" accept=".jpeg, .png, .pdf, .jpg, .xls, .docx, .docs, .mp4, .mp3, .webp," multiple><br> -->
					<label for="image">Upload Image: </label>
					<input type="file" name="image" accept="image/*">

					<label for="document">Upload Document: </label>
					<input type="file" name="document" accept=".pdf,.xlsx,.xls">
					<button type="submit">Publish Post</button>
				</form>
			</div>
			{% for post in posts %}
			<div class="right">
				<h2>{{ post.title }}</h2>
				<p>{{ post.content[:200] }}...</p>

				{% if post.image_url %}
				<img src="{{ post.image_url }}" alt="Post Image" style="max-width: 200px;">
				{% endif %}

				{% if post.document_url %}
				<p><a href="{{ post.document_url }}">Download Document</a></p>
				{% endif %}

				<form action="{{url_for('dashboard') }}" method="POST">
					<input type="hidden" name="delete_post_id" value="{{ post.id }}">
					<button type="submit", class="btn btn-danger">Delete</button>
				</form>																			
			</div>
			{% endfor %}
	</body>
</html>
