<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uninfo - Feeds</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}">
</head>

<body>
    <header>
        <nav class="navbar">
            <input type="text" placeholder="Search..." class="search-bar">
            <a href="#">Top Stories</a>
            <a href="#contact">Contact Us</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <!-- Events Section (1/4th left for web, reel for mobile) -->
            <section class="events">
                <h1>Events</h1>
                <div class="events-carousel">
                    {% for e in events %}
                    <div class="events-preview">
                        <h2>{{ e.title }}</h2>
                        <p>{{ e.content[:100] }}...</p>
                        {% if e.image_url %}
                        <img src="{{ e.image_url }}" alt="Event Image">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Latest News Section (3/4th right) -->
            <section class="news">
                <h1>Latest</h1>
                {% for n in post %}
                <a href="{{ url_for('news_detail', id=n.id) }}" class="post-preview">
                    <h2>{{ n.title }}</h2>
                    <p>{{ n.content[:50] }}...</p>

                    <!-- Multiple images loop -->
                    <div class="image-container">
                        {% if n.image_urls %}
                        {% for img_url in n.image_urls %}
                        <img src="{{ img_url }}" alt="Post Image">
                        {% endfor %}
                        {% endif %}
                    </div>

                    {% if n.document_urls %}
                    {% for doc in n.document_urls%}
                    <p><a href="{{ doc }}">Download Document</a></p>
                    {% endfor %}
                    {% endif %}
                </a>
                {% endfor %}
            </section>
        </div>
    </main>

    <footer>
        <p>Contact us at info@uninfo.com</p>
    </footer>
</body>

</html>
