<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GETINFO</title>
    </head>
    <body>
        <header>
            <h1>Welcome to the Admin boarding panel, user</h1>
            <a href="/">Feeds</a>
        </header>
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
        <h1>Media Admin Page</h1>
        <p>Login</p>
        <form action="#" method="post">
            <input type="text" placeholder="Userame" name="username" required>
            <input type="password" placeholder="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="forgot_pass">Forgot password?</a>
        <a href="signup">New here? signup</a>
    </body>
</html>
