<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GETINFO</title>
    </head>
    </head>
    <body>
    </head>
    <body>
        <header>
            <h1>Kampus Konnect</h1>
            <p>Your Source for University News</p>
        </header>
        <nav>
            <a href="#news">News</a>
            <a href="#events">Events</a>
            <a href="#contact">Contact</a>
        </nav>
	    <p>Go back to<a href="/">Feeds</a></p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Media Admin Page</h1>
        <p>Login</p>
        <form action="#" method="post">
            <input type="text" placeholder="Userame" name="username" required> <br>
            <input type="password" placeholder="password" name="password" required> <br>
            <button type="submit">Login</button> <br>
        </form>
        <a href="signup">New here? signup</a>
    </body>
</html>
