<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ news.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href='/'>Back to Feeds</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <article>
                <h1>{{ news.title }}</h1>
                <p>{{ news.content }}</p>

                <!-- Display multiple images if any -->
                <div class="image-container">
                    {% if news.image_urls %}
                    {% for img_url in news.image_urls %}
                    <img src="{{ img_url }}" alt="News Image">
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- Show attached document if any -->
                {% if news.document_urls %}
                <p><a href="{{ news.document_urls }}">Download Document</a></p>
                {% endif %}
            </article>
        </div>
    </main>


    <footer>
        <p>Contact us at info@uninfo.com</p>
    </footer>
</body>
</html>

