<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href='/'>Back to Feeds</a>
        </nav>
    </header>
{% for x in post %}
    <main>
        <div class="container">
            <article>
                <h1>{{ x.title }}</h1>
                <p>{{ x.content }}</p>

                <!-- Display multiple images if any -->
                <div class="image-container">
                    {% if x.image_url %}
                    <img src="{{ image_url }}" alt="News Image">
                    {% endif %}
                </div>

                <!-- Show attached document if any -->
                {% if post.document_url %}
                <p><a href="{{ post.document_url }}">Download Document</a></p>
                {% endif %}
            </article>
        </div>
    </main>
    {% endfor %}

    <footer>
        <p>Contact us at info@uninfo.com</p>
    </footer>
</body>
</html>
