<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GETINFO</title>
    </head>
    </head>
        }
    </style>
</head>
<body>
    <header>
        <h1>Kampus Konnect</h1>
        <p>Your Source for University News</p>
    </header>
    <nav>
	    <a href="login">Media</a>
        <a href="#news">News</a>
        <a href="#events">Events</a>
        <a href="#contact">Contact</a>
    </nav>
    <body>
	<p>Go back to<a href="/">Feeds</a></p>
        <h1>Media Admin Page</h1>
        <p>SIGNUP</p>
        <form action="#" method="post"><br>
            <input type="email"  placeholder="Email" name="email" required><br>
            <input type="text" placeholder="Name" name="name" required><br>
	    <input type="text" placeholder="Username" name="username" required><br>
            <input type="password" placeholder="password" name="password" required><br>
	    <!--  <input type="" placeholder="Authorization" required><br> -->
            <button type="submit">signup</button><br>
        </form>
       <p>Go back to<a href="login"> Login Page</a></p>
    </body>
</html>
